{{ define "title"}}
<title>{{ .Title }} - {{ .Site.Title }}</title>
{{ end }} {{ define "head" }} {{ range .AlternativeOutputFormats -}}
<link
  rel="{{ .Rel }}"
  type="{{ .MediaType.Type }}"
  href="{{ .Permalink | safeURL }}"
/>
{{ end -}}
<meta property="og:title" content="{{ .Site.Title }} {{ .Title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink }}" />
{{ with .Params.img_header }}<meta property="og:image" content="{{ . }}" />{{
end }} {{with .Params.meta}}
<meta property="og:description" content="{{.}}" />
<meta name="description" content="{{.}}" />
{{end}} {{ end }} {{ define "main" }}
<section class="l__donation container align-items-end">
  <div class="row align-items-end">
    <h1 class="col col-5 col-sm-10">{{ .Params.blurb }}</h1>
  </div>
  <div class="row mt-0 l__content">
    <div class="col col-12 col-lg-12">{{ .Content }}</div>
    <!-- <div class="col col-12 col-md-4 offset-md-1">{{- partial "itz" . -}}</div> -->
  </div>
</section>
<section class="l__donation container l__content">
  <div class="row">
    <!-- <div class="col col-12 col-md-6 col-lg-5">
      {{ with .Params.bank_name}}
      <h3>{{.}}</h3>
      {{ end }} {{ with .Params.bank_text}}
      <p>{{.}}</p>
      {{ end }}
      <noscript
        ><p>
          Bitte JavaScript einschalten wenn du kein Roboter bist.
        </p></noscript
      >
    </div>
    <div class="col col-12 col-md-6 col-lg-5">
      {{ with .Params.paypal_name}}
      <h3>{{.}}</h3>
      {{ end }} {{ with .Params.paypal_text}}
      <p>{{.}}</p>
      {{ end }} {{ with .Params.paypal_link}}
      <p><a href="#">{{.}}</a></p>
      {{ end }}
    </div> -->
    <div class="col col-12 col-md-6 col-lg-6">
      {{ with .Params.betterplace_name}}
      <h3>{{.}}</h3>
      {{ end }} {{ with .Params.betterplace_text}}
      <p>{{.}}</p>
      {{ end }} {{- partial "betterplace" -}}
    </div>
    <div class="col col-12 col-md-6 col-lg-6">
      {{ with .Params.bank_name}}
      <h3>{{.}}</h3>
      {{ end }} {{ with .Params.bank_text}}
      <p>{{.}}</p>
      <em>GLS Gemeinschaftsbank eG</em><br>
      <em>IBAN: DE44 4306 0967 1213 8330 00</em><br>
      <em>BIC: GENODEM1GLS</em><br>
      <em>Bitte als Verwendungszweck "Spende openSenseMap" angeben</em>
      {{ end }}
    </div>
  </div>
</section>

<section class="l__donation container l__content">
  <div class="row">
    <div class="col col-12 col-md-6 col-lg-8">
      {{ with .Params.metainfo_name}}
      <h3>{{.}}</h3>
      {{ end }} {{ with .Params.metainfo_text}}
      <p>{{safeHTML .}}</p>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
